body {
    font-family: Arial, sans-serif;
    background-color: #F5F5DC;
    color: #4B2E18; 
    margin: 0;
    padding: 0;
}

/* Стили для навигации */
nav a {
    color: #DAA520; 
    text-decoration: none;
    font-weight: bold;
    margin: 0 15px;
    padding: 8px 15px;
    border-radius: 25px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

nav a:hover {
    background-color: #DAA520; 
    color: #1C3D5A; 
    transform: scale(1.1); 
}

/* Стили для заголовка */
header {
    background-color: #1C3D5A;
    color: #DAA520;
    text-align: center;
    padding: 20px;
    border-bottom: 5px solid #DAA520;
}

header nav a:hover {
    color: #F5F5DC; 
}


h1, h2 {
    color: #DAA520; 
}

main {
    display: flex; 
    justify-content: space-between; 
    align-items: flex-start;
    padding: 20px;
    box-sizing: border-box;
}


main section {
    max-width: 60%; 
    margin-right: 20px; 
}

main img {
    width: 100%; 
    max-width: 400px; 
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

/* Стили для темной темы */
.dark-theme {
    background-color: #333;
    color: #f5f5f5;
}

.dark-theme header {
    background-color: #222;
    color: #FFD700;
}

.dark-theme nav a {
    color: #FFD700;
}

.dark-theme nav a:hover {
    background-color: #FFD700;
    color: #222;
}

.dark-theme footer {
    background-color: #222;
    color: #FFD700;
}

/* Стили для абзацев */
p {
    line-height: 1.6; 
    margin-bottom: 1em; 
}


footer {
    background-color: #1C3D5A;
    color: #F5F5DC;
    text-align: center;
    padding: 5px;
    position: relative; 
    width: 100%;
    border-top: 5px solid #DAA520;
}

/* Стили для кнопки */
.btn-primary {
    background-color: #1C3D5A;
    color: #f9f9f9; 
}

.btn-primary:hover {
    background-color: #f9f9f9; 
    color: #1C3D5A; 
}

.dark-theme .btn-primary {
    background-color: #222;
    color: #FFD700; 
}

.dark-theme .btn-primary:hover {
    background-color: #f9f9f9; 
    color: #222; 
}



@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.blink {
    animation: blink 1s ease infinite; /* Мигание */
}

@keyframes shift {
    0% { transform: translateY(0); }
    50% { transform: translateY(-5px); } /* Сдвиг вверх */
    100% { transform: translateY(0); }
}

.shift {
    animation: shift 0.5s ease; /* Легкий сдвиг */
}

.carousel {
    max-width: 100%;
}

@media (max-width: 768px) {
    main {
        flex-direction: column;
    }
    .carousel-inner img {
        width: 100%;
        height: auto;
    }
}
